* text=auto

# Document
*.md                                                                       text
*.txt                                                                      text

# Shell
.husky/**/*                                                         text eol=lf
*.sh                                                                text eol=lf

# Config
*.json                                                                     text
*.yaml                                                                     text
*.yml                                                                      text

# Source
*.js                                                                       text
*.ts                                                                       text

# Image
*.ico                                                                    binary
*.jpg                                                                    binary
*.jpeg                                                                   binary
*.png                                                                    binary
*.svg                                                                      text
